<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>BOOKRACK</title>
</head>
<body>
<h1>bookrack login</h1>
みんなが持ってる本を共有しよう！<br>
まずはログイン↓でログインしてね！<br>
<br>
<%= link_to "ログインして!", :action => :oauth %>
<br>
<br>
</body>
</html>
